@model ResponseMemberModel
<partial name="~/Views/Shared/_HeaderPartial.cshtml" for="RefererSite" />
<section class="register type02">
	<div class="area">
		<div class="contents_box">
			<div class="title">
				<h1>회원가입</h1>
			</div>
			<div class="step_view">
				<ol>
					<li class="on">
						<span>1</span>
						<p>본인인증</p>
					</li>
					<li>
						<span>2</span>
						<p>정보입력</p>
					</li>
					<li>
						<span>3</span>
						<p>가입완료</p>
					</li>
				</ol>
			</div>
			<div class="register_text_wrap">
				<p class="register_text">
					바른컴퍼니의 <br>
					모든 서비스를 하나의 아이디로 <br>
					사용하실 수 있습니다.
				</p>
			</div>

			<div>
				<button id="btnRegister" class="btn register_btn" data-href="@Model.NiceCheckUrl">휴대폰 인증</button>
			</div>
		</div>
	</div>
</section>
@section Scripts {

	<script>
		$("#btnRegister").on('click', function (e) {
			var url = $(this).data("href");
			window.open(url, 'popupCPClient', 'width=500, height=461, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
		});

	</script>
}