<div class="membership_box">
    <div>
        <h3>통신서비스 개인정보 제3자 제공</h3>
        <span>개인정보를 제공받는자 : SK브로드밴드㈜, 브로드밴드TS㈜, ㈜티시스아이티, ㈜유컴패니온, ㈜유베이스, F&U신용정보㈜</span><br>
        <span>개인정보 제공 항목 : 성명,휴대폰번호,생년월일,성별,주소,이메일,예식일,참여일시,참여매체</span><br>
        <span>개인정보 제공목적 : 전화,문자,이메일을 이용한 SK브로드밴드 통신상품 안내 및 SK텔레콤 스마트홈 상품 위탁판매</span><br>
        <span>보유 및 이용기간 : 제공동의일로부터 1년 (고객동의 철회 시 지체없이 파기)</span><br>
        <span>※ 동의를 거부하실 수 있으나, 이 경우 상품 안내 및 이벤트 참여가 제한됩니다. </span><br>
        <span>※ 본 통신서비스에 동의하신 고객정보의 보호를 위해 파트너사(제공받는자)는 관련법령을 준수한 개인정보보호 시스템을 구축하여 동의고객 정보를 안전하게 보호 및 파기할 의무를 가지고 있으며, 파트너사는 캠페인 진행에 따른 광고비용을 지급하고 있습니다.</span>
    </div>

    <div>
        <h3>금융서비스 개인정보 제3자 제공</h3>
        <span>개인정보를 제공받는자 : 신한라이프생명보험㈜, 신한라이프와 모집위탁 계약을 체결한 자</span><br>
        <span>개인정보 제공 항목 : 성명,생년월일,성별,휴대폰번호,이메일,참여일,참여매체,예식일 정보</span><br>
        <span>개인정보 제공목적 :  보험상품 판매를 위한 마케팅(전화, 문자) 자료활용 및 경품발송(문자)</span><br>
        <span>보유 및 이용기간 : 제공동의일로부터 1년 (고객동의 철회시 지체없이 파기) </span><br>
        <span>※ 동의를 거부하실 수 있으나, 이 경우 상품 안내 및 이벤트 참여가 제한됩니다. </span><br>
        <span>※ 본 통신서비스에 동의하신 고객정보의 보호를 위해 파트너사(제공받는자)는 관련법령을 준수한 개인정보보호 시스템을 구축하여 동의고객 정보를 안전하게 보호 및 파기할 의무를 가지고 있으며, 파트너사는 캠페인 진행에 따른 광고비용을 지급하고 있습니다.</span>
    </div>
</div>