@charset "UTF-8";

input[type="date"] {background:url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_16_date.svg) no-repeat calc(100% - 14px);}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/** datepicker **/
.datepicker-container.datepicker-dropdown {
    width: 281px;
    border-color: #fff;
    border-radius: 5px;
}
.datepicker-container .datepicker-panel > ul > li[data-view="month current"],
.datepicker-container .datepicker-panel > ul > li[data-view="year current"],
.datepicker-container .datepicker-panel > ul > li[data-view="years current"] {
    width: 213px;
    font-weight:500;
}
.datepicker-container.datepicker-top-left:before,
.datepicker-container.datepicker-top-right:before {
    content: none;
}
.datepicker-container .datepicker-panel > ul > li[data-view="month next"] {
    background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_date_r.svg) no-repeat center;
    text-indent: -9999px;
}
.datepicker-container .datepicker-panel > ul > li[data-view="month prev"] {
    background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_date_l.svg) no-repeat center;
    text-indent: -9999px;
}
.datepicker-container .datepicker-panel > ul > li {
    font-size: 15px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}
.datepicker-container .datepicker-panel > ul[data-view="week"] > li:not(:nth-child(7n)),
.datepicker-container .datepicker-panel > ul[data-view="days"] > li:not(:nth-child(7n)) {
    margin-right: 5px;
} 

.datepicker-container .datepicker-panel > ul > li.picked,
.datepicker-container .datepicker-panel > ul > li.picked:hover {
    background: #58a5ff;
    color: #fff;
    border-radius: 50%;
}

