@charset "UTF-8";
@import url('//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
    position: relative;
    min-height: 100%;
    font: 16px/1.2 "Pretendard";
    color: #333;
    letter-spacing: -1px;
}

body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: "Pretendard";
}
body * {font-family: "Pretendard";}

* {margin:0; padding:0;}
li {list-style:none;}
a {padding:0; text-decoration:none;}
.area {margin: 0 20px;}

.pt0 {padding-top:0 !important;}
.mt10 {margin-top: 10px !important;}
.mb0 {margin-bottom:0 !important;}
.mb20 {margin-bottom: 20px !important;}
.swiper-container {position:relative; overflow:hidden;}

.point {color: #58a5ff !important;}

/** checkbox **/
.form_checkbox input[type="checkbox"] { display: none; } 
.form_checkbox input[type="checkbox"] + label { position: relative; display:inline-block; background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_24_check.svg) no-repeat 0 0; background-size:16px; padding-left: 24px; font-size: 15px;  font-weight: 400; cursor: pointer; vertical-align:middle;} 
.form_checkbox input[type="checkbox"]:checked + label { background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_24_check_ov.svg) no-repeat 0 0; background-size:18px;} 

.form_policy li {position: relative;}
.form_policy li .form_policy_detail {position: absolute; right: 0;  font-size: 12px; color:#757575; border-bottom: 1px solid #757575;}

/** radio **/
.form_radio input[type="radio"] { display: none; } 
.form_radio input[type="radio"] + label { position: relative; display:inline-block; background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_14_radio.svg) no-repeat 0 0; background-size:16px; padding-left: 20px; font-size: 15px; cursor:pointer;} 
.form_radio input[type="radio"]:checked + label { background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_14_radio_ov.svg) no-repeat 0 0; background-size:18px;} 
.form_radio input[type="radio"] + label:not(:last-child) { margin-right: 15px; } 

.form_radio_list {display:grid; grid-gap:10px;}
.form_check_list {display:grid; grid-gap:10px; text-align: left; background:#f7f8f9; margin:30px 0 20px;}
.form_check_list li {word-break: keep-all;}

/** header **/
.header {position: sticky; top:0; border-bottom: 1px solid #ebebeb; padding: 20px 0; background: #fff; text-align: center; z-index:2;}
.header img {width:250px; vertical-align:middle;}

/** button **/
.btn {border-radius:3px;}
.btn_box {font-size: 0; vertical-align: middle;}
.btn_box .btn {display: inline-block; width:100%; height:40px; line-height:40px; font-size: 14px; border-radius: 3px; border:0; box-sizing: border-box; font-weight: 500; text-align: center; letter-spacing: -0.35px; vertical-align: middle; cursor:pointer;}
.btn_box.big .btn {height: 54px; line-height: 54px; font-size: 18px;}

.btn_box.type02 {display:grid; grid-template-columns:repeat(2, 1fr); grid-gap:0 10px;}

.btn_box .btn.type01 {background: #666; color:#fff;}
.btn_box .btn.type01_1 {background:#fff; border:1px solid #666; color:#666;}
.btn_box .btn.type01_2 {background: #fff; border:1px solid #ccc; color:#666;}

.btn_box .btn.type02 { background: #58a5ff; color:#fff; } 
.btn_box .btn.type02_1 { border:1px solid #58a5ff; background: #fff; color:#58a5ff; } 


.contents_box {margin: 0 auto; text-align:center; background: #fff; padding-top:34px;}

/** welcome page **/
.welcome {}
.welcome .contents_box {max-width:680px; margin:54px auto; border:0; padding:0;}



.welcome .contents {background:#f7f8f9; margin-top:40px; text-align:left; padding:30px;}
.welcome .contents dt {display:inline-block; font-size:18px; border-bottom: 2px solid #333; padding-bottom:6px; margin-bottom:14px; font-weight:600;}
.welcome .contents dd {font-size:16px; line-height:24px; letter-spacing:-0.25px; word-break:keep-all;}


.step_view {margin-bottom: 70px;}
.step_view ol {position: relative; display: inline-block; z-index: 1;}
.step_view ol::after {content:""; position: absolute; width: 80%; height: 1px; top:14px; right: 50%; transform: translateX(50%); background: #ccc; z-index: -1;}
.step_view li {display: inline-block; text-align:center;}
.step_view li:not(:last-child) {margin-right:60px;}

.step_view li span {display: block; width: 28px; height: 28px; line-height: 28px; background: #ccc; border-radius: 50%; font-size: 14px; font-weight: 400; color: #fff; margin: 0 auto 8px; letter-spacing:0;}
.step_view li h2 {font-size: 16px; color: #ccc; margin-top: 10px; font-weight: 500;}
.step_view li h2 strong {color: inherit;}

.step_view li.on span {background: #58a5ff;}
.step_view li.on h2 {color: #333;}

.benefit_list {display:grid; max-width:680px; margin: 0 auto;  grid-gap:8px;}
.benefit_list img {width:100%; margin-bottom:9px;}


/** register **/ 
.register {max-width: 1100px; margin: 0 auto; transition: all 0.3s ease-in;}
.register .register_contents_wrap {max-width:730px; margin-bottom:80px;}

.register .register_btn {display:block; max-width:400px; width:100%; height:68px; line-height:68px; font-size:20px; font-weight:500; text-align:center; background:#333; color:#fff; margin: 40px auto 14px; border:0; cursor:pointer;}
.register .register_btn + p {color:#777; line-height:22px; font-weight:300; word-break:keep-all;}
.register .title {border-bottom:1px solid #ebebeb; padding-bottom:40px; margin-bottom:40px;}
.register .title h1 {font-size:36px; line-height:34px; font-weight:600; margin:6px 0 20px;}
.register .title p {color:#757575;}
.register .title p strong {font-size:20px; font-weight:400;}
.register .title .policy_select { float: right;}

.register .btn_wrap.bottom {max-width: 400px; text-align: center; margin:0 auto;}
.register .btn_wrap.bottom .btn {font-size: 18px; height: 66px;}

/* register - check */
.register .register_check_contents {text-align:left; border-top:1px solid #333; margin-top:50px; padding-top:50px;}
.register .register_check_contents .form_checkbox {}
.register .register_check_contents .form_checkbox:nth-child(1) {padding:0 0 20px;}
.register .register_check_contents .form_checkbox:not(:last-child) {margin-bottom:14px;}
.register .register_check_contents .form_checkbox label span {color:#757575; font-size:14px; font-weight:300; margin-right:4px;}

.register .register_check_contents label.policy_all_type01:after {position:absolute; top:-10px; content: url(https://static.barunsoncard.com/barunnfamily/member/tooltip.svg); margin-left:8px;}
.register .register_check_contents button {background: 0; border: 0; font-size: 16px; cursor: pointer;}

.register #div_PolicyAgree_ThirdParty label:not(:last-child) {margin-right:4px;}

.barunnfamily_notice {background:#f7f8f9; padding:20px; text-align:left; margin:30px 0 54px;}
.barunnfamily_notice dt {font-size:15px; color:#d32f2f; font-weight:500;}
.barunnfamily_notice dt:before {content: url(https://static.barunsoncard.com/barunnfamily/member/info.svg); position:relative; top:3px; margin-right:4px;}

.barunnfamily_notice dd {font-size:15px; line-height:24px; color:#333; letter-spacing:-0.45px; word-break:keep-all;}

/** layer pop **/
.layerPop {display:none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.4); z-index: 100}
.layerPop .layerContent { position: fixed; background: #fff; max-width: 460px; width: 90%; top:50%; right:50%; transform:translate(50%, -50%); border-radius: 8px;  z-index: 101; }

.layerPop .layerPopHeader {position: relative; padding: 14px 20px; font-size: 16px; border-bottom: 1px solid #ebebeb;}
.layerPop .layerPopHeader h3 {font-size: 16px;}


.layerPop .layerPopHeader button {position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 24px; height: 24px; background: url(https://www.barunsoncard.com/resources/images/common/ico_24_close.svg) no-repeat center; text-indent: -99999999px;}
.layerPop .layerPopBody {max-height: calc(100vh - 320px); overflow-y: auto; margin: 5px 5px 5px 0; padding: 10px 20px 20px;}
.layerPop .layerPopBody p {font-size:15px; line-height:22px; font-weight: 400; color: #333; word-break:keep-all;}

.layerPop .membership_box * {font-size:14px !important; line-height:24px;}
.layerPop .membership_box h3 {margin:10px 0 6px;}

.layerPop .membership_box th {border:1px solid #ebebeb; background:#f7f8f9; text-align:center; padding:10px;}
.layerPop .membership_box td {border:1px solid #ebebeb; padding:10px;}

/* 스크롤바 */
.layerPop .layerPopBody::-webkit-scrollbar { width: 5px;}
.layerPop .layerPopBody::-webkit-scrollbar-track {border-radius: 5px;}
.layerPop .layerPopBody::-webkit-scrollbar-thumb {border-radius: 5px; border: 6px solid #666; background: #666; border-left: 0;border-right: 0;}

.policyData{display:none;}
.policyDataBox {height: 100px;overflow-y: scroll; border:1px solid #ebebeb; margin-top:10px; padding:10px;}
.policyDataBox * {font-size:13px !important; line-height:20px !important; font-family:"Pretendard" !important;  text-align:left !important; font-weight:400; color:#333 !important;}

.member_slide .swiper-slide img {width: 100%;}
.member_slide .swiper-pagination-bullet-active {background: #333;}

.field-validation-error {display:block; font-size:14px; color: red; margin-top:8px;}
.required::after {content: " * "; position: relative; top: -1px; font-size: 16px; color: #58a5ff; margin-left: 2px;} 

.register_contents {text-align:left;}
.register_contents input[type="text"],
.register_contents input[type="password"],
.register_contents input[type="date"],
.register_contents input[type="email"] {width:100%; height: 40px; font-size: 16px; letter-spacing: -0.35px; color: #333; border: 1px solid #ddd; box-sizing: border-box; border-radius: 3px; padding-left:16px; outline: none;}

.register_contents input[readonly] {background-color:#f7f8f9;}

.register_contents #Name {max-width:200px;}
.register_contents input[data-toggle="datepicker"] {max-width:200px; padding-right:16px;}

.register_contents select { height: 40px; background: url(https://static.barunsoncard.com/barunnfamily/common/icon/ico_16_drop.svg) no-repeat calc(100% - 8px); appearance: none; font-size: 14px; letter-spacing: -0.35px; color: #333; border: 1px solid #ddd; box-sizing: border-box; border-radius: 3px; padding-left: 16px;}
.register_contents select:focus {border-color: #333; outline: none;}
.register_contents select[readonly] { background-color: #f7f8f9; pointer-events: none;}

.register_contents_list h3 {font-size:16px; font-weight:500; padding-top:10px; letter-spacing:-0.25px;}
.register_contents_list > li {display:grid; grid-template-columns: 150px 1fr;} 
.register_contents_list > li:not(:last-child) {margin-bottom:16px;}

.register_contents_list li .register_box * {font-family:"Pretendard"}
.register_contents_list li .register_box {display:grid; align-items:center;}
.register_contents_list li .register_box > div:not(:last-child) {margin-bottom:8px;}

.grid_box {display:grid; align-items: center; grid-column-gap:8px;}
.grid_box.type_date {grid-template-columns:minmax(80px, 200px) auto;} 
.grid_box.type02 {grid-template-columns:auto 150px;}
.grid_box.type03 {grid-template-columns:100px auto auto;}


/** complete **/
.register_complete {max-width: 480px; text-align:center; margin: 80px auto 60px;}
.register_complete .register_title h1 {font-size: 24px; line-height:34px; word-break: keep-all;}
.register_complete .register_title .sub_text {font-size:16px; line-height:24px; color:#757575; margin:20px 0;}
.register_complete .register_img_box {text-align: center; margin-bottom: 54px;}
.register_complete .register_img_box img {max-width: 100%;}

.register_complete .btn_box {display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 0 10px; justify-content: center;}
.register_complete .btn_box.type01 {display: block;}


/** edit **/
.title_info_box {margin: 20px 0 40px;}
.title_info_box p {font-size: 16px; line-height: 26px; word-break: keep-all;}

.required_box {text-align: left; margin-bottom: 14px;}
.form_box_text {font-size: 15px; font-weight: 500; word-break: keep-all;}


/** goodbye **/
.secession_complete {max-width: inherit; background:#f7f8f9; padding:100px 0;}
.secession_complete .secession_complete_box {max-width:1024px; background:#fff; margin:0 auto; padding:60px 0; word-break:keep-all;}
.secession_complete h1 {font-size:34px; text-align:center; margin-bottom:40px;}
.secession_complete h2 {font-size:30px; color:#58a5ff; font-weight:500; text-align:center; margin:0 0 40px;}

.goodbye_section {text-align: center;}

.goodbye_box p {font-size:18px; line-height: 32px; word-break: keep-all;}
.goodbye_box p.goodbye_text01 {position:relative; font-size:22px; line-height:34px; margin-bottom:40px;}
.goodbye_box p.goodbye_text01::after {content:""; position:absolute; right:50%; bottom:-20px; transform:translateX(50%); width:40px; height:1px; background:#333;}

.goodbye_box.dash p {position:relative; line-height:28px; text-align:left; padding-left:14px;}
.goodbye_box.dash p:not(:last-child) {margin-bottom:10px;}
.goodbye_box.dash p::before {content:"- "; position:absolute; top:0; left:0;}


.secession_complete .btn_box {max-width:340px; margin:60px auto 0; padding: 0 40px;}
.secession_complete .btn_box.type02 {max-width:600px;}


.goodbye_section.type02 {margin: 0 40px;}
.goodbye_section.type02 h2 {text-align:left; margin-bottom:16px;}

#EtcComment {width: 100%; min-height: 100px; padding: 10px; border:1px solid #ddd; box-sizing: border-box; resize: none; outline: 0;}

/** family list **/
.barunnfamily {
    text-align: center;
    margin: 60px 0;
}
.barunnfamily h2 {font-size:18px; margin-bottom:30px; font-weight:normal;}
.barunnfamily .barunnfamily_list {display:grid; max-width:680px; margin: 0 auto;  grid-gap:8px;}
.barunnfamily li {height:80px; line-height:50px; background:#fff; border:1px solid #ebebeb; border-radius:3px; text-align:center;}
.barunnfamily li img {vertical-align:middle;}
.barunnfamily li p {font-size: 14px;line-height: 16px;letter-spacing: -0.3px;color: #757575;

}
/** mcard / gshop **/
.register.type02 .contents_box {max-width: 480px;}

.register.type02 .title {border-bottom: 0; margin: 40px 0 0; padding-bottom:0;}
.register.type02 .step_view {margin:40px 0 0;}

.register.type02 .register_text_wrap {text-align: center; margin:60px 0;}
.register.type02 .register_text_wrap .register_text {font-size: 22px; line-height: 34px; color: #58a5ff;}
.register.type02 .register_text_wrap .sub_text {font-size:16px; line-height: 24px; color:#757575; font-weight: 300; margin-top: 20px;}

/** policyHistory **/
.policyHistory {max-width: 800px; margin: 40px auto;}
.policyHistory .policy_title::after {content: ""; display: block; clear: both;}
.policyHistory .policy_title h1 {float: left; font-size: 20px;}
.policyHistory .policy_select { float: right; border:1px solid #dcdcdc; height: 32px; }

.policy_contents {
    padding: 24px 2%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-size: 12px;
    word-spacing: -1px;
    line-height: 1.5em;
    margin-top: 12px;
}
.policy_contents h3 {margin:40px 0 10px}
.policy_contents h3:first-child {margin:0 0 10px}
.policy_contents > h4 {margin:20px 0 10px}
.policy_contents ol {margin-left:25px}
.policy_contents ol li {margin-bottom:14px;list-style-type:decimal}
.policy_contents ul {margin-top: 10px; margin-left:18px;}
.policy_contents dt {color:#333;margin-top:10px}
.policy_contents table{border-collapse:collapse;width:99%}
.policy_contents table th{border:1px solid #ddd;padding:2px;text-align:center}
.policy_contents table td{border:1px solid #ddd;padding:2px}

.footerlogo {text-align: center; margin-top: 6%;}
.footerlogo img {width:250px; vertical-align:middle;}
.policy_button {display: inline-block; background: #333; color:#fff !important; text-decoration: none !important; text-align: center; margin-top: 10px; padding: 6px 10px;}

/** footer **/
.footer {text-align:center; background:#333; padding:50px 0; margin-top:100px;}
.footer p {font-size:14px; font-weight:300; color:#fff;}

@media screen and (min-width: 768px) {

    .benefit_list {grid-template-columns: repeat(4, 1fr);}
    
    .form_radio_list {grid-template-columns: repeat(5, 100px);}
    .form_check_list {grid-template-columns: repeat(4, 1fr); padding:30px 40px;}

    .barunnfamily_notice dl {display:grid; grid-template-columns:100px 1fr;}
    .barunnfamily .barunnfamily_list {grid-template-columns: repeat(2, 1fr);}
    .br_point { display: none;}
}

/* Mobile size */
@media screen and (max-width: 767px) {
    .m_none {display:none;}
    .register_contents input[type="text"], 
    .register_contents input[type="password"], 
    .register_contents input[type="date"], 
    .register_contents input[type="email"] {font-size:14px;}
    .form_radio_list {grid-template-columns: repeat(3, 100px);}
    .form_check_list {grid-template-columns: repeat(2, 1fr); padding:20px 20px;}
    .btn_box.big .btn {height: 50px; line-height: 50px; font-size: 16px;}
    .required_box {margin-bottom: 8px;}
    .title_info_box {margin: 10px 0 30px;}
    .title_info_box p {font-size: 14px; line-height: 24px;}
    .form_box_text {font-size: 13px; line-height: 18px;}


    /** header **/
    .header {
        padding: 10px 0;
    }
    .header img {width:200px;}

    /** welcome **/
    .welcome .contents {margin-top:30px; padding:20px;}
    .welcome .contents dt {font-size:16px;}
    .welcome .contents dd {font-size:14px; line-height:22px;}

    .benefit_list {grid-template-columns: repeat(2, 1fr);}

    

    /** register **/
    .step_view {margin-bottom:40px;}
    .step_view li:not(:last-child) {margin-right:34px;}

    .register .title {margin-bottom:24px; padding-bottom:24px;}
    .register .title h1 {font-size:26px; line-height:28px; margin:6px 0 14px;}
    .register .title p {color:#757575;}
    .register .title p strong {font-size:16px; font-weight:400;}

    .register .register_btn {font-size:16px; height:56px; line-height:56px;}
    .register .register_btn + p {font-size:14px;}

    .register_contents_list h3 {margin-bottom:10px;}
    .register_contents_list > li {display:block;}

    .form_checkbox input[type="checkbox"] + label {font-size:14px;}

    .barunnfamily_notice dt {margin-bottom:8px;}
    
    /** complete **/
    .register_complete {margin-top: 50px;}
    .register_complete .register_title h1 {font-size: 20px; line-height:28px;}
    .register_complete .register_title .sub_text {font-size:14px; line-height:20px; margin:10px 0 20px;}
    .register_complete .register_img_box {margin-bottom: 30px;}

    /* barunnfamily */
    .barunnfamily .barunnfamily_list {grid-template-columns: repeat(2, 1fr);}
    .barunnfamily h2 {font-size:18px; margin-bottom:20px;}
    .barunnfamily li {height:50px;}
    .barunnfamily li p {display:none;}

    /** mcard / gshop **/
    .register.type02 .title {
        margin-top: 20px;
    }
    .register.type02 .register_text_wrap .register_text {font-size: 18px; line-height: 28px;}
    

    /** goodbye **/

    .secession_complete {min-height:calc(100vh - 80px); padding:40px 0;}
    .secession_complete .secession_complete_box {padding:40px 20px;}
    .secession_complete h1 {font-size:24px; margin:20px 0 26px;}
    .secession_complete h2 {font-size:18px; line-height:26px; margin:0 0 20px;}
    
    .goodbye_box p {font-size:15px; line-height:26px;}
    .goodbye_box p.goodbye_text01 {font-size:16px; line-height:26px;}


    .goodbye_section.type02 {margin:0;}
    .goodbye_section.type02 h2 {margin-bottom:10px;}
    .goodbye_section.type02 .btn_box.type02 {padding:0 20px; margin-top:30px;}
    .goodbye_box.dash p {line-height: 24px;}
    .goodbye_box.dash p:not(:last-child) {margin-bottom:6px;}

    /** footer **/
    .footer {
        padding: 30px 0;
    }
    .footer p {font-size:12px;}
}
